# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Home Assistant
homeassistant/
*.log

# Build / Distribution
dist/
build/
*.egg-info/
